* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #fafafa;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar-brand img {
    width: 50px;
}

.navbar-nav {
    gap: 60px;
}

/* nav-link without scroll */
.nav-link {
    text-transform: uppercase;
    position: relative;
    background-color: transparent !important;
    color: white;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

.nav-item:hover .nav-link::before,
.nav-link.active::before {
    width: 80%;
}

.nav-item:hover .nav-link,
.nav-link.active {
    color: white !important;
}

/* end nav-link without scroll */


/* nav-link with scroll */

.bg-scroll {
    background-color: white;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 20%);
}

.bg-scroll .nav-link {
    text-transform: uppercase;
    position: relative;
    background-color: transparent !important;
    color: black;
}


.bg-scroll .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0db3c7;
    transition: width 0.5s ease;
}

.bg-scroll .nav-item:hover .nav-link::before,
.bg-scroll .nav-link.active::before {
    width: 80%;
}

.bg-scroll .nav-item:hover .nav-link,
.bg-scroll .nav-link.active {
    color: black !important;
}

.navbarToggler {
    display: none;
}

/* end navbar */
/* homeDiv */
.homeDiv {
    position: relative;
    padding-top: 80px;
}

.homeImg {
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    width: 85%;
    animation: fadeInRight 1s ease-in-out;
}

.homeDiv .row {
    color: #040c2c;
    position: relative;
    z-index: 1;
}

.homeDiv .row h2 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1.01px;
    line-height: 70px;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.homeDiv .row h2 span {
    color: #0db3c7;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.homeDiv .row h4 {
    background: rgba(13, 179, 199, .12);
    color: #0db3c7;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6px;
    padding: 15px 30px;
    text-transform: uppercase;
}

.btnDiv .btn {
    color: #fff;
    margin-top: 20px;
    background: #0db4c7d6;
    border: 2px solid #0db3c7;
    border-radius: 3px;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    min-width: 140px;
    padding: 10px 36px;
    transition: all .3s linear;
}

.btnDiv .btn:hover {
    background-color: #0db3c7;
}


.bubble2 {
    height: 30px;
    width: 30px;
    background: #fca249;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: spin1 2s infinite alternate;
    z-index: -1;
}

.bubble3 {
    height: 25px;
    width: 25px;
    background: #ff9398;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 15%;
    animation: spin1 2s infinite alternate;
    z-index: -1;
}

.bubble1 {
    height: 10px;
    width: 10px;
    background: #d27dfa;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    animation: spin1 2s infinite alternate;
    z-index: -1;
}

.bubble4 {
    height: 10px;
    width: 10px;
    background: #00c99c;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 80%;
    animation: spin2 2s infinite alternate;
    z-index: -1;
}

.bubble5 {
    height: 20px;
    width: 20px;
    background: #f1d53b;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 41%;
    animation: spin2 2s infinite alternate;
    z-index: -1;
}

@keyframes spin1 {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes spin2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(40px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


.homeDivImg {
    width: 80%;
}

.homeImgDiv {
    position: relative;
}

.htmlIcon {
    position: absolute;
    top: 5%;
    animation: fadeInUp3 2s .5s infinite alternate-reverse both;
}

.jsonIcon {
    position: absolute;
    top: 5%;
    right: 10%;
    animation: fadeInUp3 2s .5s infinite alternate-reverse both;
}

@keyframes fadeInUp3 {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* end homeDiv */

/* skillDiv */
.portfolio,
.skillsDiv {
    background-color: white;
    visibility: hidden;
}

.skillsDiv {
    padding-bottom: 70px !important;
}

.skillsHeading {
    font-size: 30px;
    text-align: center;
}

.skillsSubTitle {
    font-size: 16px;
    text-align: center;
    color: #868e96;
}

.iconsList {
    list-style-type: none;
}

.skillsIcon {
    font-size: 50px;
    color: #868e96;
}

.skillsIconTitle {
    color: #868e96;
    font-size: 14px;
}

.skillsImg {
    width: 70%;
    height: 100%;
}

.skillsIconDiv {
    overflow-x: hidden;
}

.skillsImg.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out 0s 1 normal forwards;
}

.skillsIconDiv .fadeInRight {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.singleIcon:hover {
    cursor: pointer;
}

.singleIcon:hover .skillsIcon {
    color: #0db3c7;
    transition: all .5s;
}

.skillsListIcon {
    width: 20px;
    margin: 0 10px;
}

/* end skillsDiv */

/* servicesDiv */
.services {
    visibility: hidden;
    background-color: #fafafa;
}

.sevicesIcon {
    font-size: 24px;
}

.servicesTitle {
    font-size: 40px;
    color: #0db3c7;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.serviceHeading h4 {
    font-size: 20px;
}

.servicesHeading.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out 0s 1 normal forwards;
}

.serviceDesc {
    color: #586069;
}

.services .row.fadeInBottom,
.portfolioTitle.fadeInBottom,
.portfolioProjects.fadeInBottom {
    animation: fadeInBottom 1.5s ease 0s 1 normal none;
}

.cardDiv {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 20px 20px;
    transition: all .3s;
}

.cardDiv:hover {
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.04);
}

/* end servicesDiv */

/* portfolio */
.portfolio {
    padding: 40px 30px;
}

.portfolioTitleDiv h5 {
    color: #0db3c7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.portfolioTitleDiv h2 {
    color: #040c2c;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: capitalize;
}

.thumbs {
    display: none;
}

.carousel-root {
    height: 200px;
}

.singlePortfolio .carousel .slider-wrapper,
.carousel.carousel-slider,
.slider {
    height: 100%;
}

.singlePortfolio {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 10px 20px;
}

.singlePortfolio h3 {
    box-shadow: 0px -15px 10px -15px rgba(17, 17, 17, 0.5);
}

.singlePortfolio .slide img {
    object-fit: contain;
    height: 100%;
}

.carousel .carousel-status {
    color: black !important;
}

.singlePortfolio .carousel .control-dots {
    margin: 0 !important;
    display: none;
}

.singleProjectBtn {
    background-color: rgba(13, 180, 199, 0.739);
    border: 1px solid #0db3c7;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all .3s;
}

.singleProjectBtn:hover {
    background-color: #0db3c7;
}

.singleProjectBtn a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

/* end portfolio */

/* contact */
.getInTouchDiv h6 {
    color: #0db3c7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.getInTouchDiv h2 {
    color: #040c2c;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: capitalize;
}

.mediaBody h6 {
    color: #677294;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.mediaBody h4 {
    color: #040c2c;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 600;
    word-break: break-all;
}

.mediaIcon {
    color: rgba(13, 179, 209, .5);
    font-size: 50px;
}

.media {
    padding: 10px;
    border-radius: 5px;
}

.media:hover {
    cursor: pointer;
    background-color: white;
    transition: all .3s;
}

.media:hover .mediaIcon {
    transition: all .3s;
    color: #0db3c7;
}

.getInTouchDiv {
    margin-bottom: 70px;
}

.inputDiv .form-control {
    border: 1px solid #ededed;
    border-radius: 0;
    box-shadow: none;
    color: #494949;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    min-height: 44px;
    padding-left: 20px;
    transition: all .3s;
}

.inputDiv .form-control:focus {
    border-color: #0db3c7;
}

.inputDiv .errorPara {
    color: red;
    font-size: 14px;
}

.textArea {
    height: 142px;
    padding-top: 12px;
    resize: none;
}

.media {
    margin-top: 20px;
}

.sendMsgBtn {
    background-color: rgba(13, 179, 199, 0.7);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 38px 14px 42px;
    transition: all .3s;
}

.sendMsgBtn:hover {
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, .12);
    background-color: #0db3c7;
}

.spinner-border {
    height: 20px;
    width: 20px;
}

/* end Contact */

/* footer */
.footer {
    background-color: #0db3c7;
    padding: 20px 0;
}

.socialLinkList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialLinkList li {
    display: inline-block;
    padding: 0 5px;
}

.socialLinkList li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    transition: all .3s linear;
}

.socialLinkList li a:hover {
    background: #fff;
    color: #494949;
}

.copyrightDiv {
    text-align: right;
}

.copyrightDiv h6 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    padding-top: 0;
}

.copyrightDiv h6 a {
    color: #fff;
    text-decoration: none;
}

.copyrightDiv p {
    color: #fff;
    font: 400 10px / 18px Montserrat, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* end footer */

@media (max-width: 991px) {
    .navbar {
        background-color: white;
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 20%);
    }

    .nav-link {
        text-transform: uppercase;
        position: relative;
        background-color: transparent !important;
        color: black;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #0db3c7;
        transition: width 0.5s ease;
    }

    .nav-item:hover .nav-link::before,
    .nav-link.active::before {
        width: 80%;
    }

    .nav-item:hover .nav-link,
    .nav-link.active {
        color: black !important;
    }

    .navbarToggler {
        display: block;
    }

    .navbar-brand {
        background-color: white;
    }

    .nav-link {
        width: fit-content;
    }

    .navbar-nav {
        gap: 0 !important;
    }

    .navbarToggler:active {
        border-color: #0db3c7 !important;
    }

    .navbarToggler:hover {
        background-color: #0db3c7;
        transition: all .3s;
    }

    .toggler {
        color: #0db3c7;
        font-size: 24px;
    }

    .navbarToggler:hover .toggler {
        color: white;
    }

    .homeImg {
        display: none;
    }

    .homeImgDiv,
    .skillsIconDiv {
        margin-top: 50px;
    }

    .skillsImg {
        width: 50%;
    }

    .formDiv {
        margin-top: 50px;
    }

    .getInTouchDiv {
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .copyrightDiv {
        text-align: center;
        margin-top: 15px;
    }

    .socialLinkList {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 540px) {

    .htmlIcon,
    .jsonIcon {
        width: 30px;
    }

    .contact {
        padding: 80px 30px 50px 30px !important;
    }

    .mediaBody h4 {
        font-size: 24px;
    }

    .getInTouchDiv h2,
    .portfolioTitleDiv h2,
    .servicesTitle {
        font-size: 30px;
    }

    .servicesTitle {
        padding-left: 0 !important;
    }

    .homeDiv .row h2 span {
        font-size: 20px !important;
    }
}

@media (max-width: 320px) {
    .homeDiv .row h2 {
        font-size: 36px;
    }

    .htmlIcon,
    .jsonIcon {
        width: 20px;
    }

    .carousel-root {
        height: 200px;
    }

    .contact {
        padding: 80px 20px 50px 20px !important;
    }
}

@media (max-width: 297px) {
    .media {
        flex-direction: column;
        justify-content: center;
    }
}